.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3%;
  background-color: var(--white);

  .nav__links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .links__list {
      display: inline-flex;
      align-items: center;
      gap: 1rem;

      .list__item {
        color: var(--black);
        font-size: 0.9rem;
        font-weight: 300;
        transition: 0.3s ease;
      }

      .list__item:hover {
        color: var(--blue);
      }

      .separator {
        color: var(--text-grey-1);
        font-size: 13px;
      }
    }

    .nav__pic .pic__img {
      cursor: pointer;
      width: 50px;
      height: 50px;
    }
  }

  .nav__login {
    border: 1px solid var(--blue);
    color: var(--blue);
    padding: 0.3rem 2rem;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 300;
    transition: 0.4s ease-in-out;
  }

  .nav__login:hover {
    background-color: var(--blue);
    color: var(--white);
  }
}
